@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}


.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}


body {
  background-color: #121212;
  padding-top: 100px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 25px 50px;
  font-family: "Poppins", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #121212;
  z-index: 1000;
}

.logo {
  max-width: 70px;
}

nav .nav-links {
  display: flex;
  gap: 100px;
  list-style: none;
  margin-left: 180px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 17px;
}

a:hover {
  color: rgb(126, 127, 128);
  transition: 0.5s;
}

.Davi {
  border: 1px solid transparent;
  border-radius: 20px;
  padding: 10px 30px;
  background-color: #1d1d1d;
  transition: transform 0.3s ease;
}

.Davi:hover {
  color: white;
  background: linear-gradient(270deg, #000000, #5f615f, #cecece, #ffffff);
  background-size: 600% 100%;
  animation: deslizar-fundo 10s linear infinite;
  transform: scale(1.2);
}

@keyframes deslizar-fundo {
  0% {
    background-position: 100% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.fundo {
  position: absolute;
  top: 18%;
  left: 18%;
}

.Texto-home {
  position: absolute;
  top: 30%;
  left: 26%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  text-align: center;
  font-family: "Poppins", sans-serif;
  padding: 20px;
}

.T2 {
  font-size: 40px;
  line-height: 50px;
}

.T1 {
  font-size: 100px;
  line-height: 80px;
}

.P1 {
  font-size: 27px;
  line-height: 27px;
}

.genesys {
  color: white;
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 157%;
  left: 10%;
  text-align: justify;
  width: 640px;
}

.note-genesys,
.noteGe {
  max-width: 130vh;
  position: absolute;
  top: 130%;
  left: 60%;
}

.docusing {
  color: white;
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 245%;
  left: 47%;
  text-align: justify;
  width: 640px;
}

.note-docusing,
.noteDoc {
  max-width: 130vh;
  position: absolute;
  top: 220%;
  left: -15%;
}

.ServiceNow {
  color: white;
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 322%;
  left: 10%;
  text-align: justify;
  width: 640px;
}

.note-serviceNow,
.noteService {
  max-width: 130vh;
  position: absolute;
  top: 290%;
  left: 65%;
}

.SPO {
  color: white;
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 400%;
  left: 55%;
  text-align: justify;
  width: 640px;
}

.note-spo,
.noteSpo {
  max-width: 130vh;
  position: absolute;
  top: 370%;
  left: -15%;
}

.Dashboard {
  color: white;
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 480%;
  left: 5%;
  text-align: justify;
  width: 640px;
}

.note-dashboard,
.noteDash {
  max-width: 130vh;
  position: absolute;
  top: 443%;
  left: 65%;
}

.Share-Point {
  color: white;
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 550%;
  left: 54%;
  text-align: justify;
  width: 640px;
}


.note-Share-Point,
.noteShare {
  max-width: 130vh;
  position: absolute;
  top: 520%;
  left: -15%;
}

.Alternity {
  color: white;
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 635%;
  left: 5%;
  text-align: justify;
  width: 640px;
}

.note-Alternity,
.noteAlter {
  max-width: 130vh;
  position: absolute;
  top: 600%;
  left: 65%;
}

/*.sobre, .Resumo-Sobre{
  color: #ffffff;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  text-align: justify;
  margin-bottom: 200px;
}
   */

.Texto-projetos {
  position: absolute;
  top: 700%;
  left: 30%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  text-align: center;
  font-family: "Poppins", sans-serif;
  padding: 20px;
}

.ut {
  font-size: 90px;
  line-height: 68px;
}

.do {
  font-size: 50px;
  line-height: 80px;
}

.P {
  font-size: 19px;
  line-height: 27px;
  text-align: justify;
  width: 640px;
}

.im-ch{
  position: absolute;
  top: 780%;
  left: 20%;
}

.dr{
  max-width: 500vh;

}

body {
  transition: color 0.5s ease, background-color 0.5s ease;
  /* Adicionando transição suave */
}

.container-toggle {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
}

.box1 {
  position: absolute;
  bottom: 25px;
  /* distância do fundo da seção */
  left: 50px;
  /* distância da esquerda */
}


h1 {
  margin-bottom: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #474545;
  transition: .4s;
  width: 75px;
  /* Ajuste a largura conforme necessário */
  height: 40px;
  /* Ajuste a altura conforme necessário */
}

.slider .slider-text {
  position: absolute;
  top: 50%;
  left: 70%;
  /* Adjust the percentage as needed */
  transform: translate(-41%, -50%);
  font-size: 12px;
  color: #ffffff;
  /* Adjust text color */
  transition: left 0.4s ease;
  /* Transição suave para o movimento do texto */
}

.slider:before {
  position: absolute;
  content: "";
  height: 31px;
  width: 31px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  background-image: url('logo-adp.png');
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
  /* Center the background image */
  transition: .4s;
}

input:checked+.slider {
  background-color: #d2d0d0;
  /* Mudança para preto quando ativado */
}

input:focus+.slider {
  box-shadow: 0 0 1px #b9b9b9;
  ;
  /* Mudança para preto quando ativado */
}

input:checked+.slider:before {
  left: 14px;
  /* Ajuste a posição da bolinha mais para a esquerda */
  transform: translateX(26px);
  /* Ajuste a translação da bolinha */
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%
}

input:checked+.slider .slider-text {
  left: 25%;
  /* Ajuste a porcentagem conforme necessário */
  color: #000000c6;
}

.dark-mode {
  background-color: #d4d6d5;
  /*  color: #000000;*/
  transition: color 0.5s ease, background-color 0.5s ease;/
}

.dark-mode a {
  color: #cf271c;
}

.dark-mode a:hover {
  color: #5c5655;
  transition: 0.5s;
}

.dark-mode .genesys,
.dark-mode .docusing,
.dark-mode .ServiceNow,
.dark-mode .SPO,
.dark-mode .Dashboard,
.dark-mode .Share-Point,
.dark-mode .Alternity {
  color: #04032f;
  font-family: "Poppins", sans-serif;
}


.dark-mode header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  /* background-color: #000000;   */
}

.dark-mode #texto{
  color: #1c1c52;
}

.dark-mode .Texto-home {
  color: #1c1c52;
}

.dark-mode .fundo{
  position: relative;
  display: inline-block; /*mantém no tamanho da imagem*/
  overflow: hidden;
  border-radius: 20px;
}

.dark-mode .fundo img {
  content: url("Fundo_br.png");
  display: block;
  width: 100%;
  height: auto;
}

.dark-mode .fundo .overlay {
  position: absolute;
  bottom: 0; /* cola no rodapé da imagem */
  left: 0;
  width: 100%;
  height: 60%; /* controla quanto do degradê vai subir */
  background: linear-gradient(to top, #d4d6d5,#bec0bf, rgba(239, 236, 236, 0.779));
  pointer-events: none; /* não bloqueia cliques na imagem */
}


.dark-mode .Davi {
  border: 1px solid transparent;
  border-radius: 20px;
  padding: 10px 30px;
  background-color: #ccccd4;
  transition: transform 0.3s ease;
}

.dark-mode .Texto-projetos {
  color: #1c1c52;
}

.dark-mode .dr {
  content: url("drk.png");
}

